.complaints-page{
  // display: flex;
  // flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around
}

.complaints-box{
  height: 50%;
  width: 50%;
  padding: 4%;
  margin: 4%;
  border-radius: 3%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 10%;
}

.complaints-box:hover{
  background-color: rgba(222, 222, 222, 1);
}
