.dev-page{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around
}
.dev-unit{
  height: 20%;
  min-width: 20%;
  padding: 4%;
  margin: 4%;
  border-radius: 3%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-evenly;
  .dev-unit-info{
    width: 70%;
    margin: 10%;
    h1{
      color: #55a9b2;
    }
    p{
      font-size: 24px;
      color: #494949;
     }
     i {
       color: #55a9b2;
     }
  }
  .dev-unit-occupant{
    width: 30%;
    .occupied{

    }
    .empty{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      position: relative;
      object-fit: cover;
      border: 6px solid #27ae60;
      display: flex;
      justify-content: space-evenly;
      i{
        color: #27ae60;
      }
    }
  }
}
