.lease-agreement{
  background-color: #fff;
  margin: 2%;
  .document{
    padding: 3%;
  }
}
.lease-last{
  padding: 3%
}
.front-page{
  text-align: center;
  height: 98vh;
  p.big {
    line-height: 4;
  }
}
