.user-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .user-card{
    height: 450px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    border: 6px solid white;
    margin: 5%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    .card-top{
      display: flex;
      justify-content: space-around;
      height: 35%;
      background-image: url("https://images.pexels.com/photos/1824392/pexels-photo-1824392.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      background-size: cover;
      .top-avatar{
        position: absolute;
        margin-top: 3.7%;
        padding: 1%;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .card-bottom{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // width: 80%;
      .card-job{
        padding: 2%;
        margin-top: 6%;
        text-align: right;
        color: #74d5e0;
        font-weight: bold;
        font-size: 28px;
      }
      .card-info{
        h3{
          margin: auto;
          text-align: center;
        }
        .phone{
          color: white;
          background-color: #489099;
          border-radius: 50%;
          border: 3px solid white;
          height: 35px;
          width: 35px;
          padding: 1%;
          display: flex;
          margin: auto;
          position: relative;
          box-sizing: border-box;
                text-align: center;

          // justify-content: center;
          p {
            margin-left: 5%;
            color: white;
            opacity: 0;
          }
           &:hover {
            width: 200px;
            border-radius: 25px;
            transition: 0.3s;
            box-sizing: border-box;
            p{
              opacity: 100;
              font-weight: bold;
            }
          }
        }

        .email{
          color: white;
          background-color: #489099;
          border-radius: 50%;
          border: 3px solid white;
          height: 35px;
          width: 35px;
          padding: 1%;
          display: flex;
          margin: auto;
          box-sizing: border-box;
          p {
            margin-left: 5%;
            opacity: 0;
          }
          &:hover {
            width: 200px;
            border-radius: 25px;
            transition: 0.3s;
            box-sizing: border-box;
            p{
              opacity: 100;
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
        .home{
          color: white;
          background-color: #489099;
          border-radius: 50%;
          border: 3px solid white;
          height: 35px;
          width: 35px;
          padding: 1%;
          display: flex;
          margin: auto;
          position: relative;
          box-sizing: border-box;
          p {
            margin-left: 5%;
            opacity: 0;
          }
          &:hover {
            width: 200px;
            border-radius: 25px;
            transition: 0.3s;
            box-sizing: border-box;
            p{
              opacity: 100;
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
