<div class="home-banner"></div>
<div class="temp-btnz">
  <%= link_to developments_path do %>
    <button type="submit" class="primary-button">Developments</button>
  <% end %>
  <%= link_to complaints_path do %>
    <button type="submit" class="primary-button">Complaints</button>
  <% end %>
  <%= link_to departments_path do %>
    <button type="submit" class="primary-button">Departments</button>
  <% end %>
  <%= link_to stores_path do %>
    <button type="submit" class="primary-button">Stores</button>
  <% end %>
</div>


<%# cl_image_tag("san_francisco.jpg",
      width: 400, height: 300, crop: :fill) %>
