<div class="home-banner"></div>
<div class="temp-btnz">
  <%= link_to "Developments", developments_path %>
  <%= link_to "Complaints", complaints_path %>
  <%= link_to "Departments", departments_path %>
  <%= link_to "Login", new_user_session_path %>
</div>
