<div class="insight-main">
  <div class="first-chart">
    <%# line_chart User.group_by_day(:created_at).count %>
  </div>
  <div class="first-chart">
    <h1>Tenants by country</h1>
    <%= pie_chart User.where(tenant: "true").group(:nationality).count %>
  </div>
  <div class="first-chart">
    <h1>Occupency</h1>
    <% totalunits = Unit.all.count %>
    <% occupied = Unit.where(available: false).count %>
    <% available = Unit.where(available: true).count %>
    <h2>Units available</h2>
    <%= bar_chart [["Occupenied", "#{occupied}"], ["Available", "#{available}"]] %>
    <h2>Occupency Percentage</h2>
    <%= pie_chart [["Occupenied", "#{occupied / totalunits}"], ["Available", "#{available / totalunits}"]] %>
    <%# dev1 = (Development.find(1).units.count) %>
    <%# dev2 = Development.find(2).units.count %>
    <%# pie_chart [["#{Development.find(1).name}", "#{dev1}"], ["#{Development.find(2).name}", "#{dev2}"]] %>
  </div>
  <div class="first-chart">

  </div>
  <div class="first-chart">

  </div>
  <div class="first-chart">

  </div>
</div>






<!-- The insight charts done work and take too long to load -->
