<div class="post <%= tenant_is_posts_author ? "right" : "" %>">
              <%# image_tag post.tenant.photo.url, class: 'avatar'%>
  <div class="post-description"><%= post.description %> sent by <%= User.find(post.tenant_id).full_name %></div>
</div>
