<div class="post <%= post.from?(current_user) ? "right" : "" %>">
              <%= image_tag post.user.photo.url, class: 'avatar'%>
  <div class="post-description"><%= post.description %></div>
</div>
