.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #489099;
  margin: -2px;
}
.avatar-complaint-card {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #489099;
  margin: -2px;
}
.avatar-complaint-show-card {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #244846;
  margin: -2px;
}
.avatar-employee-complaint-show-card{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #489099;
  margin: -2px;
}
.avatar-payment-paid-card {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #00d43f;
  margin: -2px;
}
.avatar-payment-not-paid-card {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ea6153;
  margin: -2px;
}
.avatar-tenant-large {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  border: 6px solid #489099;
}
.avatar-tenant-large-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  border: 6px solid #489099;

}
.avatar-tenant-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  border: 6px solid #489099;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-tenant-dev{
  width: 350px;
  height: 150px;
  border-radius: 25px;
  position: relative;
  object-fit: cover;
  border: 6px solid #489099;
}
.avatar-tenant-occupied {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  border: 6px solid #ea6153;
}
.avatar-unit-free {
    width: 140px;
      height: 140px;
      border-radius: 50%;
      position: relative;
      object-fit: cover;
      border: 6px solid #27ae60;
      display: flex;
      justify-content: space-evenly;
}
